<div id="div1">
<h1 id="h1">{{title}}</h1>

<form [formGroup]="loginForm" (ngSubmit)="onsubmit(loginForm)" *ngIf="!isformSubmitted" >
  <input type="text" id="name"  placeholder="Enter your Name" formControlName="name">
  <span *ngIf="name?.hasError('required') && loginForm.get('name')?.touched" style="color: red">Name is required.</span>
<!--  <span *ngIf="name && name.invalid && name.touched">This is require</span>-->
  <br> <br>
  <input type="text" id="email"  placeholder="Enter your Email" formControlName="email">
  <span *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" style="color: red">Email is required.</span>
  <br> <br>
  <input type="number" id="phoneno"  placeholder="Enter your Phone No" formControlName="phoneno">
  <span *ngIf="loginForm.get('phoneno')?.hasError('required') && loginForm.get('phoneno')?.touched" style="color: red">PhoneNo is required.</span>
  <br> <br>
  <input type="text" id="company"  placeholder="Enter your Company" formControlName="company">
  <span *ngIf="loginForm.get('company')?.hasError('required') && loginForm.get('company')?.touched" style="color: red">Company is required.</span>
  <br> <br>

  //FormArray
<!--  <div formArrayName="address">-->
<!--    <ng-container *ngFor="let data of loginForm.get('address')['controls']">-->
<!--      <input type="text" placeholder="Enter House No">-->
<!--      <input type="text" placeholder="Enter Street No">-->
<!--    </ng-container>-->
<!--  </div>-->


  <button id="btn">Submit</button>

</form>
</div>

<div id="div2" *ngIf="formsubmitted  && isformSubmitted ">
  <h2 id="h2">Submitted Data</h2>
  <p><strong>Name:{{loginForm.value.name}}</strong></p>
  <p><strong>Email:{{loginForm.value.email}}</strong></p>
  <p><strong>Phone-No:{{loginForm.value.phoneno}}</strong></p>
  <p><strong>Company:{{loginForm.value.company}}</strong></p>

</div>

<div id="div4">
  <h1 id="h4">{{title2}}</h1>

  <form [formGroup]="loginForm2" (ngSubmit)="onsubmit(loginForm2)" *ngIf="!isformSubmitted" >
    <input type="text"  placeholder="Enter House No" formControlName="name">
    <span *ngIf="name?.hasError('required') && loginForm2.get('name')?.touched" style="color: red">Name is required.</span>
    <!--  <span *ngIf="name && name.invalid && name.touched">This is require</span>-->
    <br> <br>
    <input type="text" placeholder="Enter Street No" formControlName="email">
    <span *ngIf="loginForm2.get('email')?.hasError('required') && loginForm2.get('email')?.touched" style="color: red">Email is required.</span>
    <br> <br>
    <input type="number" placeholder="Enter Block" formControlName="phoneno">
    <span *ngIf="loginForm2.get('phoneno')?.hasError('required') && loginForm2.get('phoneno')?.touched" style="color: red">PhoneNo is required.</span>
    <br> <br>
    <input type="text" placeholder="Enter Society Name" formControlName="company">
    <span *ngIf="loginForm2.get('company')?.hasError('required') && loginForm2.get('company')?.touched" style="color: red">Company is required.</span>
    <br> <br>

<!--    <div formArrayName="address">-->
<!--      <ng-container *ngFor="let data of loginForm.get('address')">-->
<!--        <input type="text" placeholder="Enter House No">-->
<!--      </ng-container>-->

<!--    </div>-->
    <button id="btn4">Submit</button>

  </form>
</div>

<!--<div id="div2" *ngIf="formsubmitted  && isformSubmitted ">-->
<!--  <h2 id="h2">Submitted Data</h2>-->
<!--  <p><strong>Name:{{loginForm.value.name}}</strong></p>-->
<!--  <p><strong>Email:{{loginForm.value.email}}</strong></p>-->
<!--  <p><strong>Phone-No:{{loginForm.value.phoneno}}</strong></p>-->
<!--  <p><strong>Company:{{loginForm.value.company}}</strong></p>-->
<!--  -->
<!--</div>-->
